<h2>Registered User Profile Info</h2>
<div ng-if="MyInfoCtrl.user.FavItemID === undefined">
  Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a>
</div>
<div ng-if="MyInfoCtrl.user.FavItemID !== undefined">
  <!-- <div class="UserProfile">
    First name: {{ MyInfoCtrl.user.FirstName }}
  </div> -->
  <table>
  <tr>
    <td>First name: </td>
    <td>{{ MyInfoCtrl.user.FirstName }}</td>
  </tr>
  <!-- <div class="UserProfile">
    Last name: {{ MyInfoCtrl.user.LastName }}
  </div> -->
  <tr>
    <td>Last name: </td>
    <td>{{ MyInfoCtrl.user.LastName }}</td>
  </tr>
  <!-- <div class="UserProfile">
    email: {{ MyInfoCtrl.user.email }}
  </div> -->
  <tr>
    <td>email: </td>
    <td>{{ MyInfoCtrl.user.email }}</td>
  </tr>
<!-- <div class="UserProfile">
    Phone number: {{ MyInfoCtrl.user.PhoneNumber }}
  </div> -->
  <tr>
    <td>Phone number: </td>
    <td>{{ MyInfoCtrl.user.PhoneNumber }}</td>
  </tr>
  <!-- <div class="UserProfile">
    Favorite menu item:
    <span>({{ MyInfoCtrl.user.FavItemID }})</span>
    <span>{{ MyInfoCtrl.user.FavItemName }}</span>
    <br>
    {{ MyInfoCtrl.user.FavItemDescription }}
    <br>
    <img class="img-responsive" width="250" height="150" ng-src="{{MyInfoCtrl.imgPath}}/images/{{MyInfoCtrl.user.FavItemID}}.json" alt="{{ MyInfoCtrl.user.FavItemName }}">
  </div> -->
  <tr>
    <td>Favorite menu item: </td>
    <td>{{ MyInfoCtrl.user.FavItemID + ": " }}{{ MyInfoCtrl.user.FavItemName + " " }}</td>
    <td><img class="img-responsive" width="250" height="150" ng-src="{{MyInfoCtrl.imgPath}}/images/{{MyInfoCtrl.user.FavItemID}}.json" alt="{{ MyInfoCtrl.user.FavItemName }}"></td>
  </tr>
</table>
<div class="">
  <button style="color: black; margin-top: 20px; margin-bottom: 20px"
  ng-click="MyInfoCtrl.changeUser()">New User</button>
</div>
</div>
