<h2>Registered User Profile Info</h2>
<div ng-if="MyInfoCtrl.user.FavItemID === undefined">
  Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a>
</div>
<div ng-if="MyInfoCtrl.user.FavItemID !== undefined">
  <div>
    First name: {{ MyInfoCtrl.user.FirstName }}
  </div>
  <div>
    Last name: {{ MyInfoCtrl.user.LastName }}
  </div>
  <div>
    email: {{ MyInfoCtrl.user.email }}
  </div>
  <div>
    Phone number: {{ MyInfoCtrl.user.PhoneNumber }}
  </div>
  <div>
    Favorite menu item:
    <span>({{ MyInfoCtrl.user.FavItemID }})</span>
    <span>{{ MyInfoCtrl.user.FavItemName }}</span>
    <br>
    {{ MyInfoCtrl.user.FavItemDescription }}
    <br>
    <img class="img-responsive" width="250" height="150" ng-src="{{MyInfoCtrl.imgPath}}/images/{{MyInfoCtrl.user.FavItemID}}.json" alt="{{ MyInfoCtrl.user.FavItemName }}">
  </div>
</div>
