<!doctype html>
<html lang="en">

  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/Mod1Sol.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>

<body ng-app="LunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>
         <!-- text-box -->
         <div class="form-group">
             <input id="lunch-menu" type="text" size="80"
             placeholder="list comma separated dishes you usually have for lunch"
             class="textBox-{{mssgType}}"
             ng-model="lunchItems">
         </div>
         <!-- Message area -->
         <div class="message-{{mssgType}}">
           {{message}}
         </div>
         <!-- button -->
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkLunch()">Check If Too Much</button>
             <br> (Note: Empty items not considered)
         </div>
   </div>

</body>
</html>
